<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shenBoShi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92FFA5C11C27F4E600D30AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92FFA5DD1C27F4E600D30AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92FFA5E81C27F4E600D30AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
